html, body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway';
	font-weight: 600;
	background: #373D4A;
}


/* fade in and fade out animation */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}