html, body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', 'Arial';
	font-weight: 600;
	background: #373D4A;
}

img {
	display: block;
}

/* global scrollbar styling */
body::-webkit-scrollbar-track,
.b-modal-card-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar,
.b-modal-card-body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb,
.b-modal-card-body::-webkit-scrollbar-thumb {
	background-color: #BBB;
	/*border: 2px solid #555555;*/
}

/* Some elements is not defaulted to inherit font settings, let's change this */
textarea, select {
   font-family: inherit;
   font-size: inherit;
}

/* fade in and fade out animation */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* when elements are moved in a transition-group */
.fade-move {
  transition: transform .3s;
  /*transform: translateY(200px);*/
}

/*.fade-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(200px);
}
.fade-leave-active {
  position: absolute;
}*/

/* ELEMENT UI RESETS */

/* reset some form label styling */
.el-form--label-top .el-form-item__label {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.el-input__inner,
.el-textarea__inner,
.el-checkbox.is-bordered,
.el-checkbox__inner {
	border-color: #c1c1c1;
}

/* Hide the horizontal bar on the step element */
.el-step.is-horizontal .el-step__line {
    height: 0px;
}

/* END: ELEMENT UI RESETS */

.el-step__icon-inner {
    font-family: Arial;
}
/*.el-scrollbar__bar .is-horizontal {
	display: none;
}*/

/* typography */
.body-text {
	font-weight: normal;
	text-align: center;
}

.text-align-center {
    text-align: center;
}

/* positioning */
.flex-vertical-center {
    display: flex;
    justify-content: center;
}

.flex-horizontal-center {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ANIMATE.CSS */
.animated {
	animation-duration: .5s;
	animation-fill-mode: both;
}

/* slide in left */
@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	animation-name: slideInLeft;
}

/* slide in right */
@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	animation-name: slideInRight;
}